$_lists: (
  dl,
  dt,
  dd,
  ul,
  ol,
);

#mo {
  @each $_list in $_lists {
    #{$_list} {
      @include block($_list, $_listColor);
    }
  }
  
  ul,
  ol {
    // list-style-position: inside;
    padding-left: 30px;
  }
  
  li {
    // padding-left: 20px;
    // text-indent: -20px;
  }
  
  $_dfnChildren: (
    dt,
    dd,
  );
  
  @each $_dfnChild in $_dfnChildren {
    #{$_dfnChild} {
      &:first-child {
        margin-top: 0;
      }
  
      &::before {
        background-color: rgba($_listColor, .8);
      }
    }
  }
}
