// class
$ImgContainer: '.ImgContainer';

// color
$_backgroundColor : #f5f5f5;
$_sectionColor    : #ff8080;
$_boxColor        : #787878;
$_formColor       : #80a4ff;
$_flowColor       : #daa520;
$_listColor       : #c675e9;
$_linkColor       : #4169e1;
$_imgColor        : #20b2aa;
$_errorColor      : #ff0000;